
          *{
  margin:8px;
  padding:4px;
}

body {
background-image: linear-gradient(black,black,black,black);
       font-family:Arial, Helvetica, sans-serif;
       text-align: center;
       color: #DCDCDC;
}

.d-block.w-25{
    width: 50%;
    float:left;
}
.texto {
    width: 15%;
    float:left;
    color: #DCDCDC;
    
}

.paginacao {
position: absolute;
left: 28em;
}
.texto1{
border-style: solid;
color: #DCDCDC;
}
.texto{
border-style: solid;
color: #DCDCDC;
}
.voltar{
background-color: rgba(0, 0, 0, 0.8);
border-radius: 7px;
text-decoration: none;
color: #DCDCDC;
border: 1px solid dodgerblue;
padding: 7px;
right: 43.2em;
top: 2px;
}
.d-block{
    width: 300px;
  height: 280px;
  background-size: 300px;
  border: solid 2px;
  text-shadow: white 0px 0px 2px;
  font-size: 16px;
}
.video{
    position: relative;
    top: -110px;
    right: -3em;
}
.texto2{
border-style: solid;
   text-align: center;
    position: relative;
}

