body {
    font-family: Arial, Helvetica, sans-serif;
    background-image:url(https://img5.goodfon.com/wallpaper/nbig/6/17/strelka-sinii-fon-linii-geometriia-goluboi.jpg);
         }
 
         h2 {
             position: absolute;
             left: 35%;
             top: 11px;
         }
 
             
         .tela-login {
          background-color: rgba(0, 0, 0, 0.9);
          position: absolute;  
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 80px;
          border-radius: 15px;
          color: white; 
         }
 
         input{
             padding: 15px;
             border: none;
             outline: none;
             font-size: 15px;
 
         }
 
         .inputSubmit{
             background-color: dodgerblue;
             border: none;
             padding: 15px;
             width: 100%;
             border-radius: 10px;
             color: white;
             font-size: 15px;
             
         }
 
         .inputSubmit:hover{
             background-color: deepskyblue;
             cursor: pointer;
 
 
         }
 
         .cadastro{
             background-color: #8B8989;
             border: none;
             padding: 5px;
             width: 100%;
             border-radius: 20px;
             color: white;
             font-size: 15px;
 
         }
 
         .voltar{
 position: fixed;
 top: 2;
 background-color: rgba(0, 0, 0, 5);
 border-radius: 20px;
 text-decoration: none;
 color: #DCDCDC;
 border: 2px solid dodgerblue;
 padding: 8px;
 
 }
 
 .voltar:hover{
     background-color: #32CD32;
 }
 
 .esqueci{
     position: relative;
   text-align: center;  
   text-decoration: underline;
 color: white; 
 
  
 }