<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.png" />

    <title>MeuPc</title>
    <link rel="stylesheet" href="css/style4.css" />
</head>
<body>

    <!-- modelos de produto na lista e no carrinho -->
    <div class="models">

        <!-- produto na lista -->
        <div class="produto-item">
            <a href="">
                <div class="produto-item--img"><img src="" /></div>
                <div class="produto-item--add">+</div>
            </a>
            <div class="produto-item--price">R$ --</div>
            <div class="produto-item--name">--</div>
            <div class="produto-item--desc">--</div>
        </div>

        <!-- produto no carrinho -->
        <div class="cart--item">
            <img src="" />
            <div class="cart--item-nome">--</div>
            <div class="cart--item--qtarea">
                <button class="cart--item-qtmenos">-</button>
                <div class="cart--item--qt">1</div>
                <button class="cart--item-qtmais">+</button>
            </div>
        </div>

    </div>
    <!-- /models -->

    <!-- .menu-openner aparecera no modo mobile -->
    <header>
        <h1>Descomplicando a informática-Monte seu pc com as peças certas e selecionadas</h1>
        <div class="menu-openner"><span>0</span>🛒</div>
    </header>
    <!-- /menu-openner -->

    <!-- conteudo principal -->
    <main>
        <div ><a class="voltar" href="menu.php">Voltar</a></div>
        <h2>Produtos</h2>

        <div class="produto-area"></div>
    </main>
    <!-- /conteudo principal -->

    <!-- aside do carrinho -->
    <aside>
        <div class="cart--area">
            <div class="menu-closer">❌</div>
            <h1>Meus Produtos</h1>
            <div class="cart"></div>
            <div class="cart--details">
                <div class="cart--totalitem subtotal">
                    <span>Subtotal</span>
                    <span>R$ --</span>
                </div>
                <div class="cart--totalitem desconto">
                    <span>Desconto</span>
                    <span>R$ --</span>
                </div>
                <div class="cart--totalitem total big">
                    <span>Total</span>
                    <span>R$ --</span>
                </div>
                <div class="cart--finalizar">Finalizar a compra</div>
            </div>
        </div>
    </aside>
    <!-- /aside do carrinho -->

    <!-- janela modal .produtoWindowArea -->
    <div class="produtoWindowArea">
        <div class="produtoWindowBody">
            <div class="produtoInfo--cancelMobileButton">Voltar</div>
            <div class="produtoBig">
                <img src="" />
            </div>
            <div class="produtoInfo">
                <h1>--</h1>
                <div class="produtoInfo--desc">--</div>
                <div class="produtoInfo--sizearea">
                    <div class="produtoInfo--sector">Descrição</div>
                    <div class="produtoInfo--sizes">
                        <div data-key="" class="produtoInfo--size"><span>--</span></div>
                        <div data-key="" class="produtoInfo--size"><span>--</span></div>
                        <div data-key="" class="produtoInfo--size selected"><span>--</span></div>
                    </div>
                </div>
                <div class="produtoInfo--pricearea">
                    <div class="produtoInfo--sector">Preço</div>
                    <div class="produtoInfo--price">
                        <div class="produtoInfo--actualPrice">R$ --</div>
                        <div class="produtoInfo--qtarea">
                            <button class="produtoInfo--qtmenos">-</button>
                            <div class="produtoInfo--qt">1</div>
                            <button class="produtoInfo--qtmais">+</button>
                        </div>
                    </div>
                </div>
                <div class="produtoInfo--addButton">Adicionar ao carrinho</div>
                <div class="produtoInfo--cancelButton">Cancelar</div>
            </div>
        </div>
    </div>
    <!-- /janela modal .produtoWindowArea -->

    <script src="produtos4.js"></script>
    <script src="js/script4.js"></script>
</body>
</html>